@font-face {
  font-family: "ATFont";
  src: url('./assets/Adventure\ Time\ Logo.ttf');

}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color:#0c2299;
  background-image:url('./assets/landscape.jpg') ;
  background-repeat: no-repeat;
  font-family: "ATFont", sans-serif, 'Courier New', Courier, monospace;

}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #0c2299;
  align-items: center;
  color: white;
  justify-content: space-between;
}


.logo {
  height: auto;
  width: 200px;
  background: transparent;
}

.headerText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#0c2299;
  color: #fff;
}

.score, .instructions {
  display: flex;
}

.scoreNum, .exclamation {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}



.card {
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.cardImage {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

/*---------------End Game Modal --------------------*/
body.modal {
  overflow: hidden;
}

.bgModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.modalContent {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  height: 300px;
  background-color: #0c2299;
  color:#fff;
  position: relative;
  border-radius: 4px;
  padding: 20px;

  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.modalContent .button-container {
  display: grid;
  place-items: center;
}

.modalContent button {
  width: 10rem;
  height: 3rem;
  border-radius: 50px;
}

.modalContent button:hover {
  background-color: rgba(184, 179, 179, 0.7);
  cursor: pointer;
}



@media (max-width: 630px) {
  .logo {
    max-width: 100%;
  }
  .modalContent {
    width: 250px;
    height: 200px;
  }
  .second.logo {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .cardImage {
    height: 150px;
    width: 150px;
    /* vertical-align: bottom; */
  }
  
}

@media only screen and (min-width:631px) and (max-width:1024){
  .cardContainer {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  .cardImage {
    height: 150px;
    width: 150px;
  
  }
}

@media (min-width: 2500px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}